<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/articles">Articles</a></li>
              <li><a href="/resources">Resources</a></li>
	        		<li><a href="/connect">Connect</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:indiancapitalist@protonmail.com">email</a></li>
	        		<li><a href="https://github.com/indiancapitalist">github.com/indiancapitalist</a></li>
				</ul>
			</footer>
		</body>
	</html>
